
.global {
    display: flex;
    justify-content: space-between;
    margin-right: 395px;

}

.header_logo {
    margin-left: 395px;
}
.header_text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 35.78px;
    text-align: left;

}

.phone {
    display: flex;
    flex-direction: column;
}
.geolocation {
    display: flex;
    flex-direction: column;
}
.geo1 {
    display: flex;
    justify-content: flex-start;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.vkladki{
    display: flex;
    justify-content: space-between;
    margin-left: 395px;
    margin-right: 395px;

}

.container {
    background-color: #ecd0A6;
    display: flex;
    flex-direction: column;
}
.ace {
    width: 1903px;
    height: 567px;
    top: 233px;
    
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;

    justify-content: space-between;
    margin: auto;
}
.colonki {
display: flex;
justify-content: start;
margin-left: 395px;


}

.format21  {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 5px;
}
.color21 {
font-family: Roboto;
font-size: 24px;
font-weight: 700;

text-align: left;
color: #C28221;


}


.ace_diamonds {
    width: 505px;
    height: 168px;
    top: 322px;
    left: 395px;
    margin-left: 395px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    
    
}
.ace_clubs {
    width: 118px;
    height: 118px;
    left: 0px;
    top: 23px;
    border-radius: 50%;
    background-color: #b0751b;
    z-index: 2;
    position: relative;
    text-align: center;
}
.security {
font-family: Roboto;
font-size: 72px;
font-weight: 700;
line-height: 84.38px;
text-align: left;
width: 505px;
height: 168px;
top: 422px;
left: 395px;
gap: 0px;
opacity: 0px;




}
.text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 844px;
    height: 73px;
    top: 0px;
    left: 396px;

}

.ace_spades {
    position: relative;
    width: 390px;
    height: 312px;
    top: 50px;
    left: 0px;
}
.kaska {
    width: 390px;
    height: 312px;
}

.ToAll {
    display: flex;

    flex-direction: column;
}     

.format {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    


}

.container2 {

    margin-top: 75px;
    margin-left: 395px;
    display: flex;
    flex-direction: column;

}
.work {
    display: flex;
    margin-top: 30px;
    
}

.work_text {
    margin-left: 20px;
    margin-top: 10px;
}
.colortext {
    color: blue;
}

.container3 {
    background-color: #000000;
    
}

.format3 {
font-family: Roboto;
font-size: 72px;
font-weight: 700;
line-height: 84.38px;
margin-left: 395px;
color: #FFFFFF;

}

.format4 {
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: center;
color: #FFFFFFB2;


}
.fine {
    display: flex;
    margin-left: 395px;
}

.fine_fiz {
width: 540px;
height: 107px;
top: 2094px;
left: 395px;
gap: 0px;
border-radius: 60px 0px 60px 0px;
opacity: 0px;
background: #C28221;
color: #FFFFFF;
border: 1px solid #000000
}

.format5 {
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21.09px;
text-align: center;

}
.sizing {
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
text-align: center;

}
.fine_company {
width: 540px;
height: 107px;
top: 2094px;
margin-left: 20px;
gap: 0px;
border-radius: 60px 0px 60px 0px;
opacity: 0px;
background: #C28221;
color: #FFFFFF;

border: 1px solid #000000
}

.postanovlenie {
margin-top: 30px;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: center;
color: #FFFFFFB2;


}
.container4{
margin-left: 395px;
}

.education{


}

.colortext1 {
    color: #C28221;
    

}
.ramka {
    display: flex;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: left;
width: 1026px;
height: 74.53px;
top: 2729px;
left: 437px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
border-width: 0px, 0px, 0px, 0px;

border-style: solid;

border-color: #000000;
}

.format6 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #000000;
    margin-left: 20px;
    

}

.security1 {
width: 727px;
height: 84px;
top: 2568px;
left: 392px;
gap: 0px;
opacity: 0px;

font-family: Roboto;
font-size: 72px;
font-weight: 700;
line-height: 84.38px;
text-align: left;
    
}

.galka {
    width: 21px;
height: 11.18px;
top: 2772.48px;
left: 1431px;
gap: 0px;
border: 1.4px 0px 0px 0px;
opacity: 0.8px;

border: 1.4px solid #000000
}